/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

img {
  display: block;
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.conteiner {
}

.group-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  opacity: 0px;
  background-color: #ffffff;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 16px;
  color: #2e2f42;
}

.input:hover {
  border: 1px solid #000000;
}

.input:active {
  border: 1px solid #4e75ff;
}

.style-submit {
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #4e75ff;
  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}

.style-submit:hover {
  background-color: #6c8cff;
}

/*Spinner*/
.loader {
  text-align: center;
}
/* end Spinner*/

/* ========================================== */
/* render-function */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-link {
  /* flex-basis: calc((100% - 48px) / 3); */
}

.gallery-image {
  display: block;
}

.inform {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}

.inform-link {
}

.inform-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f42;
}

.inform-dan {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f42;
}
*/

/* модальне вікно */

div.sl-overlay {
  background-color: #2e2f42cc;
}

.sl-wrapper button.sl-close {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button.sl-prev {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button.sl-next {
  color: #ffffff;
}

.sl-wrapper div.sl-counter {
  color: #ffffff;
}
